*{
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    
}
.panel {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
  }
h1, h2, h3, h4, span, input{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
@font-face {
    font-family: 'MarkPro';
    src: url('/fonts/MarkPro-Medium.b3d53906.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MarkPro-light';
    src: url('/fonts/MarkPro-Medium.b3d53906.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: url('/fonts/MarkPro-Bold.405f2505.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MarkPro';
    src: url('/fonts/MarkPro-Heavy.192477bd.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: url('/fonts/MarkPro-Black.7207860d.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@media screen and (max-width:4000px) {
    .copyright-socialmedia {
        flex-wrap: nowrap!important;
    }
}
@media screen and (max-width:1024px) {
    .stagger h1{
      font-size: 125px!important;
    }
    .textsdsdd{
      font-size: 800px!important;
    }
    
}

@media screen and (max-width:768px) {
    section h1, .bg-color h1{
      font-size: 25px!important;
    }
    .contact-us {
      height: 100%!important;
    }
    .contact-us .description, .contact-us .tagline, .contact-us .tagline-1, .contact-us .lastline{
      width: 100%;
    }
    .contact-us .contact-us-info{
      padding: 50px 20px;
    }
    .contact-us .form{
      padding: 50px 20px;
    }
    .contact-us .form .px-5{
      padding: 0px!important;
    }
    .carousel-img{
      padding: 0px 10px!important;
    }
    nav .menu-logo {
      width: 25%!important;
    }
    .textsdsdd{
      font-size: 400px!important;
    }
    .contact-us .h-100vh{
        height: 100%!important;
    }
    .footer-bg-color{
        margin-bottom: 20px;
    }
}


@media screen and (max-width:480px) {
    section h1, .bg-color h1{
      font-size: 20px!important;
    }
    .contact-us {
      height: 100%!important;
    }
    .contact-us .description, .contact-us .tagline, .contact-us .tagline-1, .contact-us .lastline{
      width: 100%;
    }
    .contact-us .contact-us-info{
      padding: 50px 20px;
      text-align: center!important;
    }
    .contact-us .contact-us-info .description, .contact-us .contact-us-info .tagline, .contact-us .contact-us-info .lastline{
        width: 100%;
    }
    .contact-us .form{
      padding: 50px 20px;
    }
    .contact-us .form .px-5{
      padding: 0px!important;
    }
    .carousel-img{
      padding: 0px 10px!important;
    }
    nav .menu-logo {
      width: 60%!important;
    }
    .textsdsdd{
      font-size: 400px!important;
    }
    .contact-us .h-100vh{
      height: 100%!important;
    }
    .content-center {
        justify-content: center;
    }
    .content-center img{
        top: 0!important;
    }
    .footer-bg-color{
        justify-content: center!important;
        max-width: 400px;
       
    }
    .Link_default__VBYZf{
        font-size: 13px!important;
    }
    .footer-bg-color .row {
        justify-content: center;
        gap:20px;
    }
    .Typography_variant-monoCaption__CtFq-1{
        font-size: 13px;
    }
    .copyright-div, .SiteFooter_socials__TI9kV {
        justify-content: center!important;
    }
    .copyright-socialmedia{
        flex-wrap: wrap!important;
    }
    .stagger1 h1{
        font-size:40px!important;
    }
    .gjhdsf{
        justify-content: start!important;
        padding-top:150px;
    }
}

@media screen and (max-width:375px) {
    .footer-bg-color{
        justify-content: center!important;
        max-width: 350px;
    }
    .Typography_variant-monoCaption__CtFq-1{
        padding:0!important;
    }
}
@media screen and (max-width:320px) {
    .footer-bg-color{
        justify-content: center!important;
        max-width: 300px;
    }
    .footer-bg-color .row{
        padding:15px 5px!important;
    }
   
}